{% extends 'essentials/logged.html' %}

{% comment 'Initial information' %}
   Brief: Deleted profile informational message HTML template
   Author: Peter Hamran, xhamra00 AT stud.fit.vutbr.cz
   Date: 01.12.2018
   Institution: Brno University of Technology
{% endcomment %}

{% block main_contents %}
    {% if error %}
        <p>You do not have perrmission to dele this user.</p>
    {% else %}
        <p>Your account has been disabled. Thanks for being with us.</p>
        <p> Your BeerBook </p>
    {% endif %}
{% endblock %}
